<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>This is what you asked me to display</title>
    </head>

    <body>
        <ol>
            Synopsis : {{synopsis}}
        </ol>
        <ol>
            Longueur du synopsis : {{longueur}}
        </ol>
    </body>
</html>